<div class="modal-header">
  <h2 class="panel-title text-center">Contacto <span class="glyphicon glyphicon-map-marker"></span></h2>  
  <h4>{{modal.contact.name}} {{modal.contact.lastName}}</h4>
</div>
<div class="modal-body">
   <form  name ="addForm" novalidate id="frmContact">
       <div class="form-group">
           <label class="sr-only" for="txtName">Nombre</label>
           <input type="text" class="form-control" id="txtName" placeholder="Nombre" text="{{modal.contact.name}}" required>
       </div>
       <div class="form-group">
         <label class="sr-only" for="txtLastName">Apellido</label>
         <input type="text" class="form-control" id="txtLastName" placeholder="Apellido" ng-model="contact.formData.lastName" required>
       </div>
        <div class="form-group">
           <label class="sr-only" for="txtLatitude">Lat</label>
           <input type="text" class="form-control" id="txtLatitude" placeholder="39.500" value="-34.5987586" ng-model="contact.formData.latitude" readonly>
       </div>
       <div class="form-group">
           <label class="sr-only" for="txtLongitude">Long</label>
           <input type="text" class="form-control" id="txtLongitude" placeholder="39.500" value="-58.3855415" ng-model="contact.formData.longitude" readonly>
       </div>
       <div class="form-group">
           <label for="txtVerified">HTML5 Verified Location? <span><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
           <input type="text" class="form-control" id="txtVverified" placeholder= "Nope (Thanks for spamming my map...)" ng-model="contact.formData.htmlverified" readonly>
       </div> 
    </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn" data-ng-click="modal.close()">Cerrar</button>
  <button type="button" class="btn btn-danger btn-block" ng-disabled="addForm.$invalid" data-ng-click="modal.ok()">OK</button>
</div>